.loadingDiv {
    margin-top: 15px;
    display: flex;
    position: absolute;
    left: 45%;
    top:25%;
    opacity: 70%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 280px;
    height: 290px;
    overflow: hidden;
    border-radius: 15px;
}

.loadingImg {
    /*width: 440px;*/
    /*height: 400px;*/
    /*display: flex;*/
}
