* {
    box-sizing: border-box;
    /* overflow: scroll; */
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-row: gap 10px; */
}

.app-wrapper-content {
    grid-area: content;
    background-color: darkorange;
    /*display: grid;*/
    /*grid-template-areas:*/
    /*        "content_img"*/
    /*        "content_logo"*/
    /*        "content_posts";*/
    /*grid-template-rows: 2fr 2fr 2fr;*/
    /*grid-template-columns: 12fr;*/
}

